/*menu style code start here*/
	
.scrolled {
  	min-height: 10px;
  	background: #250d59;
  	transition: ease-in-out 1s;
  	border-bottom: solid 2px #401891;
}
.navbar {
    border-radius: 0;
    min-height: 93px;
    transition: ease-in-out 1s;
    width: 100%;
    padding: 0 6.5%;
    margin: 0 auto;
}
/* PEN STYLES ========== */
a,
	.side_menu {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */
	.side_menu {
    background: rgba(0,20,60,.9);
    height: 100vh;
    right: -250px;
    position: fixed;
    top: 0;
    width: 250px;
    float: right;
    transition: ease-in-out 2s;
    z-index: 9
}
	.side_menu .container {
		padding: 0 1em;
	}

/* HAMBURGER STYLES ----- */
	.burger_box {
    display: block;
    float: left;
    margin-left: -145px;
    margin-top: 15px;
}
	.burger_box a.menu-icon {    
		display: inline-block;
    float: none;
    height: 25px;
    padding: 0px;
    opacity: .5;
    width: 25px;
    z-index: 100;
    margin-top: 15px;
    margin-left: 38px;
}
	.burger_box a.menu-icon:hover,
	.burger_box a.menu-icon.opened {
		opacity: 1;
	}
	.burger_box a.menu-icon.opened {
		background: rgba(0,20,60,.9);
	}
	.burger_box .menu-icon_box {
		display: inline-block;
		height: 25px;
		position: relative;
		text-align: left;
		width: 25px;
	}
	.burger_box .menu-icon_line {
		background: #fff;
		border-radius: 2px;
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 100%;
	}
	.burger_box .menu-icon_line--1 {
		top: 2px;
	}
	.burger_box .menu-icon_line--2 {
		top: 10px;
	}
	.burger_box .menu-icon_line--3 {
		top: 18px;
	}
	.burger_box .menu-icon_line--1 {
		transition: top 200ms 250ms, transform 200ms;
		-webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon_line--2 {
		transition: opacity 0ms 300ms;
		-webkit-transition: opacity 0ms 300ms;
	}
	.burger_box .menu-icon_line--3 {
		transition: top 100ms 300ms, transform 200ms;
		-webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_box {
		transform: scale3d(0.9, 0.9, 0.9);
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	.burger_box .menu-icon.opened .menu-icon_line {
		top: 10px;
	}
	.burger_box .menu-icon.opened .menu-icon_line--1 {
		transform: rotate3d(0, 0, 1, 45deg);
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transition: top 100ms, transform 200ms 250ms;
		-webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--2 {
		opacity: 0;
		transition: opacity 200ms;
		-webkit-transition: opacity 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--3 {
		transform: rotate3d(0, 0, 1, -45deg);
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transition: top 200ms, transform 200ms 250ms;
		-webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
	}

/* STAGGER LIST ----- */
	.list_load {
		display: none;
		list-style: none;
		padding: 0;
	}
	.list_item {
		margin-left: -20px;
		opacity: 0;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item a {
		color: #fff;
		display: block;
		padding: 5px 10px;
		text-decoration: none;
	}
	.list_item a:hover {
		background: rgba(255,255,255,.2);
	}

/*ends here menu code*/


/*Home banner style starts here*/

.jumbotron {
    background-image: url(https://ramanaidu7.github.io/newpage/images/Banner.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding: 32% 0;
    background-attachment: fixed;
    background-size: cover;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    margin-bottom: 0%;
}

.jumbotron p {
    font-size: 16px;
    font-weight: 200;
    float: right;
    color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20rem;
    margin-bottom: 15rem;
}
.brnd_text h3 {
    color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 1.4em;
    margin: 0;
}
.brnd_text h1 {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 70px;
    margin: 0;
    letter-spacing: -2px;
}
/*home banner style ends here*/

/**********portfolio styel here*********/


.port_prax_img1 {
    background-image: url('https://ramanaidu7.github.io/newpage/images/tile1paralax.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 0;
    padding: 5% 0 30% 0px;
    overflow-x: hidden;
}
/*.port_prax_img2 {
    background-image: url('https://ramanaidu7.github.io/newpage/images/tile3paralax.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 0;
    padding: 5% 0 5% 0px;
    overflow-x: hidden;
}*/
.port_width {
    width: 100%;
    padding-left: 5%;
    margin: 0 auto;
}
.slider {
  margin: 20px auto;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
    animation: fade 30s infinite;
    -webkit-animation: fade 30s infinite;
} 
.slide2 {
    animation:fade2 30s infinite;
-webkit-animation:fade2 30s infinite;
}
.slide3 {
    animation:fade3 30s infinite;
-webkit-animation:fade3 30s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


/***********portfolio style ends here***************/



/************testimonal style starts here**********/

.clnt_title h2 {
    padding: 5px 8%;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    letter-spacing: -3px;
}
.carousel-indicators {
    position: absolute;
    bottom: 294px;
    left: 103%;
    width: 12%;
    padding-left: 0;
    margin-left: -30%;
}
.carousel-indicators li {
    width: 6px;
    height: 6px;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #000;
}
.carousel-indicators .active {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: darkgray;
    border: solid darkgrey;
}
.item h4 {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    padding: 0 8%;
    line-height: 1.4em;
    font-size: 20px;
    margin-bottom: 10%;
}
.carousel-inner {
    margin-top: 2%;
}
span.clnt_name {
    position: relative;
    top: 26px;
    font-weight: 800;
    font-size: 28px;
}
span.clnt_cmp {
    position: relative;
    top: 26px;
    font-weight: 400;
}
a.left.carousel-control {
    width: 0;
    left: 70%;
    color: #000;
    opacity: 1;
    text-shadow: none;
    font-size: 26px;
    margin-top: -5.2%;
}
a.right.carousel-control {
    width: 24%;
    height: 0;
    color: #000;
    opacity: 1;
    text-shadow: none;
    font-size: 26px;
    margin-top: -5%;
}
/**********testtimonial style ends here**********/


/**********footer style starts here***********/


.cnt_bg {
    background-color: #000;
    font-family: 'Quicksand', sans-serif;
    padding: 6rem 11rem;
}
h2.let_talk {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
}
a.emil_link {
    color: #fff;
    font-size: 75px;
    text-decoration: none;
    font-weight: 300;
}
.foot_client, .foot_work, .foot_about {
    width: 30%;
    float: left;
}
.go_top {
    text-align: center;
}
a.client_link, a.client_work, a.client_about {
    color: #fff;
    text-decoration: none;
}
.foot_sitemap {
    margin-top: 42px;
}
img.img_adunit {
    margin-top: 8px;
}
/***********footer style ends here*****************/







/**********media Query start here********/

@media all and (min-width:360px) and (max-width: 640px) 
{
body {
    overflow-x: hidden !important;
}
/******menu mobile style*******/
.navbar-brand {
    float: none;
}
.navbar-brand img {
    width: 50%;
}
.burger_box {
    display: block;
    float: none;
    margin-left: -90px;
}
/********menu mobile style ends here*******/


/********section 1 mobile style starts here**********/
.jumbotron {
    background-image: url('https://ramanaidu7.github.io/newpage/images/Banner.png');
    background-repeat: no-repeat;
    background-position: 52% 0%;
    padding: 123% 0;
    background-attachment: fixed;
    background-size: 300%;
   /* margin-bottom: 20%;*/
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
}
.brnd_text h1 {
    font-size: 40px;
}
.jumbotron p {
    font-size: 20px;
    font-weight: 300;
    float: none;
}

/********section1 mobile style ends here********/


/********section 2 mobile style starts here**********/
.port_prax_img1 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile1paralax.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 0;
    padding: 10% 0 100% 0px;
    overflow-x: hidden;
}
/*.port_prax_img2 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile3paralax.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 0;
    padding: 10% 0 100% 0px;
    overflow-x: hidden;
}*/
.slide1, .slide2, .slide3 {
   text-align: center;
}
.pjt_side_img{
	width: 100%;
}
/********section 2 mobile style ends here********/


/*********testimonial mobile style strats here********************/

.clnt_title {
    margin-bottom: 20%;
}
.carousel-inner {
    margin-top: 20%;
}
.carousel-indicators {
    position: absolute;
    bottom: 335px;
    left: 31%;
    width: 100%;
    padding-left: 0;
    margin-left: -34%;
   z-index: -9;
}
a.left.carousel-control {
    left: 12%;
    font-size: xx-large;
    margin-top: -11.2%;
}
a.right.carousel-control {
    font-size: xx-large;
    margin-top: -11%;
    left: 242px;
}

/*********testimonial mobile style ends here*******/



/********footer mobile style starts here********/

.cnt_bg {
    background-color: #000;
    font-family: 'Quicksand', sans-serif;
    padding: 2rem 4rem;
}
h2.let_talk {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -2px;
}
a.emil_link {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    font-weight: 300;
}
.foot_client, .foot_work, .foot_about {
    width: 30%;
    float: left;
    line-height: 40px;
}
.go_top {
    text-align: left;
}
a.client_link, a.client_work, a.client_about {
    color: #fff;
    text-decoration: none;
}
.foot_sitemap {
    margin-top: 2px;
}

/********footer mobile style ends here********/

}


/**********media query ends here*********/