/***********nav bar style*************/
.navbar-default {
     background-image: radial-gradient(circle, #250d59, #191147, #121134, #100e21, #080809);
    transition: ease-in-out 1s;
    border: none;
}
.navbar.navbar-default {
    height: 100px;
    margin: 0;
    padding-left: 7%;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.row{
  margin: 0;
}
/********cursor style********/
.shrink {
    background-image: radial-gradient(circle, #250d59, #191147, #121134, #100e21, #080809);
    transition: ease-in-out 1s;
}
body{
  margin: 0 auto;
  height: 100vh;
  cursor: none;
  overflow-x: hidden;
}
.cursor {
    width: 50px;
    height: 50px;
    position: absolute;
    border: solid 1px #fff;
    border-radius: 50%;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s alternate;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-13px, -11px);
    background-blend-mode: difference;
    background: #fff;
    mix-blend-mode: difference;
}
.cursorInn {
    width: 5px;
    height: 5px;
    position: absolute;
    border: solid red;
    border-radius: 50%;
    margin: 21px;
    transition-timing-function: ease-out;
    z-index: 9999;
    animation: cursorAnim .5s alternate;
    pointer-events: none;
}
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}
/************************/

.a
{
  text-decoration: none;
  color: #fff;  
  transition: ease-in-out 1s;
}
a:hover
{
  color: #000;
  transition: ease-in-out 1s; 
}
#menuToggle {
    display: block;
    position: absolute;
    top: 40px;
    right: 160px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;    
    animation: fadeInUp;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: #cdcdcd;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(3)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 1;
    transform: rotate(-45deg) translate(-11px, 15px);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(45deg) translate(-5px, -8px);
}
#menu {
    position: absolute;
    width: 300px;
    margin: -36px -12px 0px 0px;
    padding: 50px;
    padding-top: 58px;
    right: 0;
    background-image: linear-gradient(to bottom, #5620cb, #6330d2, #6e3ed9, #7a4be0, #8558e7);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    opacity: 0;
    transition: all 1s;
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
  font-family: quicksand;
  font-weight: 600;
  pointer-events: none;
}
#menu a {
    pointer-events: none;
    cursor: none;
}
#menuToggle input:checked ~ ul
{
  transform: scaleX(1.0, 1.0);
  opacity: 1;
}
/*  .navbar-brand {
    float: none;
    height: 100px;
    padding: 3%;
    font-size: 18px;
    line-height: 20px;
    margin-left: 5.5%;
    z-index: 99;
    cursor: none;
}
a.navbar-brand img {
    position: relative;
    transition: ease-in-out 1s;
    animation: fadeIn;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    position: relative;
    top: 0px;
    z-index: -99;
    margin-left: 10rem;
}
.shrink img {
    transition: ease-in 2s;
    position: relative;
   /* left: 4.5em;*/
    animation: fadeIn;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
}*/
/*a.navbar-brand img:hover {
    cursor: none;
}
.menuList {
    pointer-events: none;
}*/
/*#menu li {
    pointer-events: none;
    cursor: none;
}*/
/**********popup ends**********/
/***********nav bar ends here**********/

.homeMain{
  margin: 0;
}
.masthead {
  background-image: url('https://ramanaidu7.github.io/newpage/images/Banner.png');
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -8%;
  padding-bottom: 20%;
  margin-bottom: 5%;
}
.homeleftText {
    margin-top: 55%;
    padding-left: 8%;

}
.homeRightText {
    color: #8d8d8d;
    margin-top: 46%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;/*
    animation: fadeInUp;
  animation-duration: 5s;
  -webkit-animation-duration: 5s; 
  animation-delay: 1s;
  -webkit-animation-delay: 1s;*/
}
.homeleftText h3 {
    font-family: 'Open Sans', sans-serif;
    color: #8d8d8d;
    font-size: 24px;
}
.homeleftText h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
    letter-spacing: -3px;
    color: #fff;
}
.portfolioSect1 {
    width: 85%;
    margin: 0 auto;
}
.port_prax_img1 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile1paralax.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100%;
    background-position: right 10%;
    background-repeat: no-repeat;
}
.port_prax_img2 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile3paralax.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100%;
    background-position: right 10%;
    background-repeat: no-repeat;
}
img.shea_img, img.ark_img, img.slid1 {
    width: 100%;
}
.portf_text {
    padding-top: 52%;
}
.portf_text p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.portf_text h1 {
    font-size: 64px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.port_prax_img3 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile4paralax.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 40%;
    background-position: right 10%;
}
span.glyphicon.glyphicon-chevron-left, span.glyphicon.glyphicon-chevron-right {
    color: #000;
    opacity: 1;
    text-shadow: none;
}
.carousel-control {
    color: #000;
    text-shadow: none;
    position: absolute;
    top: -420px;
    opacity: 1;
}
a.left.carousel-control {
    width: 0;
    left: 74%;
}
a.right.carousel-control {
    width: 0;
    right: 57px;
}
.testiAdunit {
    width: 83%;
    margin: 0 auto;
}
.testiAdunit h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
    font-weight: 400;
}
.carousel-indicators li {
    width: 5px;
    height: 5px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 5px;
    height: 5px;
    margin: 1px;
    background-color: #000;
}
.item h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    margin-bottom: 10%;
    padding-top: 5%;
}
span.clnt_name {
    font-weight: 800;
    font-size: 30px;
    line-height: 2.5em;
}
.carousel-indicators {
    bottom: 364px;
    left: 84%;
    width: 4%;
    margin-left: 0;
    margin-left: -3%;
}



.cnt_bg {
    background-color: #000;
    font-family: 'Quicksand', sans-serif;
    padding: 3rem 10rem;
}
h2.let_talk {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
}
a.emil_link {
    color: #fff;
    font-size: 75px;
    text-decoration: none;
    font-weight: 300;
}
.foot_client, .foot_work, .foot_about {
    width: 30%;
    float: left;
}
.go_top {
    text-align: center;
}
a.client_link, a.client_work, a.client_about {
    color: #fff;
    text-decoration: none;
}
.foot_sitemap {
    margin-top: 42px;
}
img.img_adunit {
    margin-top: 8px;
}
.menuList:hover ~ .cursor{

	transform: translate(-50%, -50%) scale(8);
}


/**********mobile style***********/

@media (min-width: 0px) and (max-width: 812px) {
body {
    cursor: unset;
    overflow-x: hidden;
}
.cursor {
    display: none;
}
.row{
  margin: 0;
}
.navbar-brand {
    float: none;
    height: 100px;
    padding: 0;
    line-height: 0px;
}
a.navbar-brand img {
    position: relative;
    left: 0;
    width: 50%;
    transition: unset;
    margin-top: 20px;
}
.navbar {
    background: #250d59;
}
.shrink .navbar-brand img {
    position: relative;
    left: 0;
    width: 15%;
}

#menuToggle {
    right: 34px;
}
.masthead {
    background-position: 51% 0;
    margin-top: -1%;
    margin-bottom: 15%;
    background-size: 320% 150%;
}
.homeleftText {
    margin-top: 100%;
}
.homeleftText h3 {
    font-size: 17px;
}
.homeleftText h1 {
    font-size: 40px;
}
.homeRightText {
    margin-top: 20%;
    font-size: 18px;
}
.portfolioSect1 {
    width: 100%;
}
.port_prax_img1 {
  background-position: left;
  margin-bottom: 10%;
}
img.shea_img {
    margin-bottom: 10%;
}
img.ark_img {
    width: 100%;
}
.portf_text {
    padding: 6% 0;
    margin-bottom: 5%;
}
.port_prax_img2 {
    background-position: left;
    margin-bottom: 10%;
}
.port_prax_img3 {
    padding-bottom: 90%;
    background-position: left;
}
img.ark_img {
    width: 100%;
    margin-bottom: 10%;
}
.cnt_bg {
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
}
a.emil_link {
    font-size: 32px;
}
.foot_sitemap {
    margin-top: 20px;
}
.mob_pad {
    padding: 0;
}
.go_top {
    text-align: left;
    padding: 0;
    margin-top: 6%;
}
.testiAdunit {
    width: 100%;
    padding: 6%;
}
.testiAdunit h2 {
    font-size: 50px;
}
.carousel-indicators {
    bottom: 18px;
    left: 75%;
    width: 14%;
    margin-left: 0;
    margin-left: -3%;
}
.carousel-control {
    top: 280px;
}
a.left.carousel-control {
    width: 0;
    left: 68%;
}
a.right.carousel-control {
    width: 0;
    right: 28px;
}
}




/**********************/













@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}



 .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    visibility: visible;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }






/*body a {
  border-bottom: 2px solid #fff;
  padding: 10px 0;
  margin-top: 25px;
}*/
/*
body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 9999;
}
body .cursor__ball circle {
  fill: #f7f8fa;
}*/
